@import "../../index.scss";

.shopall {
	width: 100%;
	height: 100vh;
	border: 5px solid red;
	margin-top: 80px; // space for navbar in desktops
}

@media screen and(max-width: 750px) {
	.shopall {
		border: 5px solid red;
		margin-top: 70px; // space for navbar in desktops
	}
}
