@import "../../index.scss";

.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: white;
	.login-container {
		font-family: $primary-font;
		display: flex;
		width: 80%;
		max-width: 1300px;
		.login-left-cont {
			flex: 1 0 200px;
			//border: 2px solid lightcoral;
			.login-left-title {
				margin-top: -15px;
				font-family: $primary-font;
				font-weight: 200;
				font-size: 4rem;
				transition: all 0.2s ease;
			}
			.go-to-login {
				cursor: pointer;
				outline: none;
				width: 270px;
				font-family: $primary-font;
				font-weight: 300;
				font-size: 0.7rem;
				margin-top: 35px;
				margin-left: 2px;
				padding: 12px 0;
				border: 1px solid grey;
				border-radius: 30px;
				color: black;
				background-color: #fff;
				transition: all 0.2s ease;
				&:hover {
					background-color: gray;
					color: white;
				}
			}
		}
		.login-right-cont {
			flex: 1 0 300px;
			padding: 0 40px;
			//border: 2px solid rebeccapurple;
			.form-first-row {
				width: 100%;
				display: flex;
				.input-wrapper {
					color: grey;
					flex: 1 0 80px;
					margin: 0 0;
					margin-bottom: 20px;
					display: flex;
					flex-direction: column;
					#fname {
						margin-right: 20px;
					}
				}
			}
			.input-wrapper {
				color: grey;
				position: relative;
				display: flex;
				flex-direction: column;
				overflow: hidden;
				margin-bottom: 20px;
				label {
					font-family: $primary-font;
					font-size: 0.9rem;
				}
				input {
					font-family: $primary-font;
					font-size: 1rem;
					padding: 10px 0px 10px 0px;
					background-color: transparent;
					z-index: 1;
					outline: none;
					border: none;
					border-bottom: 1px solid grey;
					&:focus {
						border-bottom: 1px solid $primary-color;
					}
					&:focus ~ .placeholder {
						transform: translateY(-100%);
						opacity: 0;
					}
				}
				.placeholder {
					position: absolute;
					z-index: 0;
					bottom: 2rem;
					font-family: $primary-font;
					font-size: 0.9rem;
					color: rgb(189, 189, 189);
					transition: transform 0.3s ease, opacity 0.2s ease;
				}

				.error {
					font-family: $primary-font;
					height: 20px;
					//	background-color: turquoise;
					font-size: 0.8rem;
					font-style: italic;
					color: brown;
					padding: 5px 0px;
				}
			}
			.form-last-row {
				margin-top: 50px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.terms {
					font-size: 0.9rem;
					label {
						margin-left: 10px;
					}
					a {
						color: gray;
					}
					.error {
						font-family: $primary-font;
						height: 20px;
						//	background-color: turquoise;
						font-size: 0.8rem;
						font-style: italic;
						color: brown;
						padding: 5px 0px;
					}
				}
				.submit-button {
					cursor: pointer;
					outline: none;
					width: 40%;
					font-family: $primary-font;
					font-weight: 300;
					font-size: 0.8rem;
					padding: 12px 0;
					border: 1px solid $primary-color;
					border-radius: 30px;
					color: white;
					background-color: $primary-color;
					transition: all 0.2s ease;
					&:hover {
						background-color: transparent;
						color: $primary-color;
						font-weight: 500;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.login-page {
		.login-container {
			.login-left-cont {
				.login-left-title {
					font-size: 2.8rem;
				}
				.go-to-login {
					width: 190px;
				}
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.login-page {
		height: auto;
		padding-bottom: 50px;
		.login-container {
			width: 90%;
			margin-top: 80px; //space for navbar
			align-items: initial;
			flex-direction: column;
			.login-left-cont {
				.login-left-title {
					margin-top: 10px;
					font-size: 2.8rem;
				}
				.go-to-login {
					margin-top: 20px;
					width: 200px;
				}
			}
			.login-right-cont {
				padding: 0 0px;
				.form-first-row {
					display: flex;
					flex-direction: column;
					.input-wrapper {
						margin: 0 0;
						margin-bottom: 10px;
						display: flex;
						flex-direction: column;
						#fname {
							margin-right: 0px;
						}
					}
				}
				.input-wrapper {
					display: flex;
					flex-direction: column;
					margin-bottom: 10px;
				}
				.form-last-row {
					margin-top: 10px;
					display: flex;
					flex-direction: column;
					align-items: initial;
					.submit-button {
						width: 100%;
						margin-top: 20px;
					}
				}
			}
		}
	}
}
