@import '../../index.scss';

.product-item {
	//cursor: pointer;
	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 320px;
		min-width: 340px;
		margin: 10px 0;
		margin-right: 50px;
		text-decoration: none;

		font-family: $primary-font;

		border: 1px solid rgba($color: rgb(136, 136, 136), $alpha: 0.4);
		transition: 0.15s all cubic-bezier(0.55, 0.085, 0.68, 0.53);
		background-color: #fff;
		border-radius: 5px;

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0 8px 50px -20px rgba($color: #838383, $alpha: 0.5);
			/* 		.product-item-details {
				color: $accent-color;
			} */
		}

		.product-item-img-wrapper {
			position: relative;
			pointer-events: none;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 230px;
			height: 230px;
			img {
				width: 70%;
				height: 200px;
				object-fit: contain;
				//transform: rotate(10deg);
				transition: 0.9s all cubic-bezier(0.165, 0.84, 0.44, 1);
			}
		}
		.product-item-details {
			display: flex;
			justify-content: space-between;
			border-top: 1px solid rgba($color: rgb(136, 136, 136), $alpha: 0.4);
			//background-color: #190c3f;
			//color: #fff;
			pointer-events: none;
			width: 100%;
			font-weight: 600;
			flex: 1;
			padding: 20px 30px;

			.product-item-name {
				max-width: 70%;
				//margin-bottom: 10px;
			}
			.product-item-price {
				font-size: 1.3rem;
				.rupee {
					font-size: 15px;
				}
			}
		}
	}
}

@media screen and(max-width: 480px) {
	.product-item {
		a {
			cursor: pointer;
			height: 300px;
			margin: 10px 0px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-right: 30px;
			min-width: 90vw;
			width: 90%;

			&:first-child {
				margin-left: 5vw;
			}
			&:last-child {
				margin-right: 20px;
			}
			.product-item-img-wrapper {
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 200px;
				height: 200px;
				margin-bottom: 20px;
				img {
					width: 210px;
					height: auto;
					margin: 30px 0;
					object-fit: contain;
				}
			}
			.product-item-details {
				margin-bottom: 0px;
				padding-top: 18px;
			}
			&:hover {
				transform: none;
				box-shadow: none;
			}
		}
	}
}
