@import '../../index.scss';

.product-item {
	cursor: pointer;
	width: 370px;
	height: 300px;
	min-width: 370px;
	min-height: 300px;
	margin-right: 50px;
	border: 1px solid transparent;
	//border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $primary-font;
	overflow: hidden;
	transition: 0.05s all cubic-bezier(0.55, 0.085, 0.68, 0.53);
	&:hover .product-item-img-wrapper > img {
		transform: scale(1.06);
	}
	.product-item-img-wrapper {
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 250px;
		img {
			width: 85%;
			height: 230px;
			object-fit: contain;
			transition: 0.9s all cubic-bezier(0.165, 0.84, 0.44, 1);
		}
	}
	.product-item-details {
		display: flex;
		width: 85%;
		font-weight: 600;
		justify-content: space-between;
		padding-bottom: 10px;
		.product-item-name {
			max-width: 70%;
		}
	}
	&:hover {
		border: 1px solid black;
		.product-item-details {
			color: $accent-color;
		}
	}
}

@media screen and(max-width: 460px) {
	.product-item {
		cursor: pointer;
		min-width: 91vw;
		min-height: 260px;
		margin: 0 10px;
		border: 1px solid transparent;
		&:first-child {
			margin-left: 4vw;
		}
		&:last-child {
			margin-right: 20px;
		}
		.product-item-img-wrapper {
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 230px;
			margin-bottom: 20px;
			img {
				width: 250px;
				height: 260px;
				object-fit: contain;
			}
		}
	}
}
