@import '../../index.scss';

nav {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 1800px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80px; // for desktop
	border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
	backdrop-filter: saturate(180%) blur(5px);
	background-color: rgba(255, 255, 255, 0.72);
	border-left: 1px solid rgb(186, 186, 186);
	border-right: 1px solid rgb(186, 186, 186);
	//
	//	max-width: 1800px;
	//background-color: lawngreen;
	.mobile-nav {
		display: none;
		a.is-active {
			color: $accent-color !important;
		}
	}
	.navbar-inner {
		font-family: $primary-font;
		width: 100%;
		margin: 0 80px;
		display: flex;
		justify-content: space-between;
		ul {
			display: flex;
			align-items: center;
			font-size: 1.1rem;
			.my-profile:hover .dropdown-menu {
				visibility: initial;
				opacity: 1;
			}
			li {
				position: relative;
				list-style: none;
				margin-right: 40px;
				cursor: pointer;
				&:last-child {
					margin-right: 0px;
				}

				&:hover {
					color: $accent-color;
				}

				.dropdown-menu {
					outline: none;
					visibility: hidden;
					opacity: 0;
					left: 50%;
					transform: translateX(-50%);
					background-color: white;
					position: absolute;
					display: block;
					padding: 20px;
					border-radius: 10px;
					margin-top: 15px;
					width: 180px;
					box-shadow: 0px 5px 20px rgba($color: #000000, $alpha: 0.3);
					li {
						margin-bottom: 10px;
						&:last-child {
							margin-bottom: 0px;
						}
						a {
							text-decoration: none;
							/* 	&.is-active {
								color: red !important;
							} */
						}
					}
					transition: 0.2s opacity ease, 0.1s visibility ease;
				}
				.dropdown-menu::before {
					content: '▾';
					position: absolute;
					left: 50%;
					transform: translateX(-50%) rotate(180deg);
					font-size: 2rem;
					top: -18px;
					color: white;
				}

				.nav-item {
					transition: none;
					.cart-wrapper {
						display: flex;
						align-items: center;
						.cart {
							font-size: 1.3rem;
						}
						.cart-item-count {
							font-size: 1.4rem;
							margin-left: 5px;
						}
					}
				}
				a {
					text-decoration: none;
					color: black;
					&:hover {
						color: $accent-color;
					}
				}
				a.is-active {
					color: $accent-color !important;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	nav {
		.navbar-inner {
			width: 85%;
			ul {
				display: flex;
				li {
					font-size: 0.95rem;
					.nav-item {
						.cart-wrapper {
							.cart {
								font-size: 1.2rem;
							}
						}
					}
					a {
						font-size: 0.95rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	nav {
		min-height: 70px; // for mobile
		border-left: none;
		border-right: none;
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
		.mobile-nav {
			font-size: 1.1rem;
			font-family: $primary-font;
			display: initial;
			width: 90%;

			ul {
				display: flex;
				justify-content: space-between;

				li {
					list-style: none;
					.cart-wrapper {
						position: relative;
						display: flex;
						align-items: center;
						.cart {
							font-size: 1.3rem;
						}
						.cart-item-count {
							display: none;
							/* FOR TIME BEING OMIT THIS */
							font-size: 1.4rem;
							margin-left: 5px;
						}
					}
					.hamburger {
						font-size: 1.5rem;
					}
					.hamburger-icon {
						position: absolute;
					}
					.close-btn {
						position: absolute;
						display: none;
					}
				}
			}
		}
		.navbar-inner {
			position: absolute;
			top: 60px;
			left: -150%;
			height: 100vh;
			background-color: white;
			width: 100%;
			display: initial;
			margin: 0 0px;
			flex-direction: column-reverse;
			justify-content: flex-start;
			transition: 0.5s left cubic-bezier(0.445, 0.05, 0.55, 0.95);
			ul {
				outline: none;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin-left: 20px;
				.hi-mobile {
					font-weight: 600;
				}
				.active {
					font-weight: 600;
				}

				&:first-child {
					margin-top: 20px;
					li:first-child {
						display: none;
					}
				}
				li.cart-item-btn {
					display: none;
				}
				li {
					outline: none;
					list-style: none;
					margin-right: 0px;
					margin-bottom: 10px;
					font-size: 1.3rem;
					color: black;
					cursor: pointer;

					.dropdown-menu {
						outline: none;
						visibility: initial;
						opacity: 1;
						left: 0;
						top: -27px;
						transform: translateX(0%);
						background-color: white;
						position: relative;
						display: initial;
						padding: 0;
						border-radius: 0px;
						margin-top: 0px;
						width: none;
						box-shadow: none;
						li.my-orders {
							display: block;
						}
						li {
							outline: none;
							margin-bottom: 8px;
							&:last-child {
								padding-bottom: 0px;
							}
							a {
								outline: none;
								text-decoration: none;
							}
						}

						transition: 0.2s opacity ease, 0.1s visibility ease;
						.logout-btn {
							display: initial;
							font-weight: 400;
						}
					}
					.dropdown-menu::before {
						display: none;
					}
					.nav-item {
						transform: translateX(-100%);
						transition: 0.4s transform cubic-bezier(0.445, 0.05, 0.55, 0.95);
					}
					.openmenu {
						transform: translateX(0%);
					}
					&:last-child {
						margin-right: 0px;
					}
					&:hover {
						color: black;
					}
					a {
						text-decoration: none;
						color: black;
						font-size: 1.3rem;
						&:hover {
							color: black;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1800px) {
	nav {
		border-left: 1px solid rgb(186, 186, 186);
		border-right: 1px solid rgb(186, 186, 186);
	}
}

/* FOR STAGGERING ANIMATION */
/* .left-nav {
	li {
		&:nth-of-type(2) {
			.nav-item {
				transition-delay: 0.3s;
			}
		}
		&:nth-of-type(3) {
			.nav-item {
				transition-delay: 0.4s;
			}
		}
		&:nth-of-type(4) {
			.nav-item {
				transition-delay: 0.5s;
			}
		}
	}
}

.right-nav {
	li {
		&:nth-of-type(1) {
			.nav-item {
				transition-delay: 0.6s;
			}
		}
		&:nth-of-type(2) {
			.nav-item {
				transition-delay: 0.7s;
			}
		}
	}
} */
