@import '../../index.scss';

.header {
	position: relative;
	margin-top: 80px; // space for navbar in desktops
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	transition: 0.2s background-image ease;

	.header-title-container {
		width: 90%;
		//background-color: turquoise;
		.header-title {
			text-align: center;
			font-family: $wide-font;
			font-size: 4rem;
			font-weight: 800;
			background-image: linear-gradient(
				to left,
				#ff5233,
				#f37335,
				#ffb12b,
				#ff8d14,
				#e94057,
				#f12711
			);
			background-size: 400%;
			background-clip: text;
			color: transparent;
			background-position: left;
			animation: headertext 6s infinite alternate;
		}
	}
}

@media screen and (max-width: 850px) {
	.header {
		padding: 60px 0;
		margin-top: 70px;
		height: auto;
		justify-content: center;
		//@function: #f4cedb;
		img {
			width: 80%;
			margin-bottom: 40px;
		}

		.header-title-container {
			width: 90%;
			.header-title {
				font-size: 3rem;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.header {
		padding: 40px 0;
		.header-title-container {
			.header-title {
				font-size: 2rem;
			}
		}
	}
}
