@import '../../index.scss';

.my-orders-page {
	display: flex;
	justify-content: space-around;
	margin-top: 80px;
	width: 92%;
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 50px;
	font-family: $primary-font;
	min-height: 80vh;
	.empty-cart {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 80vh;
		margin-top: -80px;
		color: gray;
		//border: 1px solid black;
		.empty-cart-img {
			width: 40%;
			margin-bottom: 20px;
		}
	}
	.cart-page-left {
		width: 100%;
		padding-right: 0px;
		.my-cart-container {
			width: 100%;
			padding: 20px;
			padding-top: 0px;
			/* border: 1px solid rgba(216, 216, 216, 1); */
			.cart-title {
				font-size: 2.5rem;
				font-weight: 600;
				margin-bottom: 20px;
			}
			.cart-all-products {
				width: 100%;

				.product-container {
					display: flex;
					justify-content: space-between;
					padding: 25px 0;
					width: 100%;
					border-bottom: 1px solid rgba(216, 216, 216, 1);
					.product-left {
						display: flex;
						align-items: center;
						.product-img {
							width: 150px;
							margin-right: 20px;
							img {
								display: flex;
								align-items: center;
								width: 90%;
							}
						}
						.product-deets {
							.name {
								font-weight: 600;
								margin-bottom: 5px;
								color: black;
								font-size: 1rem;
							}
							div {
								margin-bottom: 5px;
								font-size: 0.9rem;
								color: grey;
							}
							button {
								cursor: pointer;
								outline: none;
								background-color: transparent;
								border: none;
								text-decoration: underline;
								font-weight: 400;
								color: rgb(95, 1, 1);
							}
						}
					}
					.product-right {
						font-weight: 600;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.my-orders-page {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 90%;
		margin-top: 120px;
		margin-bottom: 50px;
		.cart-page-left {
			width: 100%;
			padding-right: 0px;
			.my-cart-container {
				width: 100%;
				padding: 0px;
				padding-top: 0px;
				.cart-title {
					font-size: 1.7rem;
					margin-bottom: 0px;
				}
				.cart-all-products {
					width: 100%;
					margin-bottom: 20px;
					.product-container {
						display: flex;
						justify-content: space-between;
						padding: 20px 0;
						border-bottom: 1px solid rgba(216, 216, 216, 1);
						.product-left {
							display: flex;
							align-items: center;
							.product-img {
								width: auto;
								margin-right: 15px;
								img {
									width: 100px;
								}
							}
							.product-deets {
								.name {
									font-size: 0.9rem;
								}
							}
						}
						.product-right {
							font-weight: 600;
							font-size: 0.9rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.my-orders-page {
		margin-top: 100px;
		.empty-cart {
			margin-top: -40px;
			.empty-cart-img {
				width: 90%;
				margin-bottom: 20px;
			}
		}

		.cart-page-left .my-cart-container .cart-all-products .product-container {
			display: flex;
			flex-direction: column;
			.order-details {
				margin-top: 10px;
			}
		}

		.cart-page-left
			.my-cart-container
			.cart-all-products
			.product-container
			.product-left
			.product-deets {
			width: 100%;
			//max-width: 140px;
		}
	}
}

@media screen and (max-width: 350px) {
	.my-orders-page {
		margin-top: 100px;
		.cart-page-left
			.my-cart-container
			.cart-all-products
			.product-container
			.product-left
			.product-img
			img {
			width: 70px;
		}

		.cart-page-left
			.my-cart-container
			.cart-all-products
			.product-container
			.product-left
			.product-deets {
			max-width: 110px;
		}
	}
}
