@import '../../../index.scss';

.slider-wrapper {
	position: relative;
	width: 100%;
	//overflow: hidden;
	//padding: 0 80px;
	//	border: 1px solid blue;
	.slide-left-btn,
	.slide-right-btn {
		cursor: pointer;
		position: absolute;
		border: 1px solid black;
		background-color: #ffffff;
		border-radius: 50%;
		z-index: 20;
		padding: 10px;
		top: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateY(-50%);
		font-size: 1rem;
	}
	.slide-right-btn {
		right: 1rem;
	}
	.slide-left-btn {
		//display: none;
		left: 1rem;
	}
	.slider-container {
		position: relative;
		min-height: 360px;
		padding-bottom: 10px;

		.slider {
			position: relative;
			display: flex;
			align-items: center;
			margin-left: 5vw;
			transition: 1s transform ease;
			&::-webkit-scrollbar {
				width: 0px;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.slider-wrapper {
		position: relative;
		width: 100%;
		.slide-right-btn,
		.slide-left-btn {
			display: none;
		}
		.slider-container {
			position: relative;
			overflow: hidden;
			min-height: auto;
			padding-bottom: 0px;

			.slider {
				transition: none;
				//	border: 1px solid peru;
				transform: translateX(0%);
				position: relative;
				overflow-x: auto;
				margin-left: 0px;
				padding-bottom: 0px;
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 390px) {
	.slider-wrapper {
		position: relative;
		//padding: 0 80px;
		width: 100%;
		.slide-right-btn,
		.slide-left-btn {
			display: none;
		}
		.slider-container {
			position: relative;
			overflow: hidden;
			.slider {
				//	border: 1px solid peru;
				transform: translateX(0%);
				position: relative;
				flex-wrap: nowrap;
				overflow-x: auto;
			}
		}
	}
}

@media screen and (min-width: 1800px) {
	.slider-wrapper {
		.slider-container {
			.slider {
				margin-left: 90px;
			}
		}
	}
}
