@import '../../../index.scss';

.slider-wrapper {
	position: relative;
	//padding: 0 80px;
	width: 100%;
	//	border: 1px solid blue;
	.slide-left-btn,
	.slide-right-btn {
		cursor: pointer;
		position: absolute;
		border: 1px solid black;
		background-color: #ffffff;
		border-radius: 50%;
		z-index: 20;
		padding: 10px;
		top: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateY(-50%);
		font-size: 1rem;
	}
	.slide-right-btn {
		right: 1rem;
	}
	.slide-left-btn {
		left: 1rem;
	}
	.slider-container {
		position: relative;
		min-height: 340px;
		padding-left: 20px;
		overflow: hidden;
		.slider {
			position: absolute;
			display: flex;
			align-items: center;
			//	border: 1px solid peru;
			transform: translateX(1%);
			transition: 2s transform ease;
			&::-webkit-scrollbar {
				width: 0px;
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.slider-wrapper {
		.slider-container {
			padding-left: 0px;
			.slider {
				&:first-child {
					margin-left: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) and (min-height: 1024px) {
	.slider-wrapper {
		position: relative;
		//padding: 0 80px;
		width: 100%;
		.slide-right-btn,
		.slide-left-btn {
			display: none;
		}
		.slider-container {
			position: relative;
			overflow: hidden;

			.slider {
				//	border: 1px solid peru;
				transform: translateX(0%);
				position: relative;
				flex-wrap: nowrap;
				overflow-x: auto;
				.product-item {
					width: 75%;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.slider-wrapper {
		position: relative;
		//padding: 0 80px;
		width: 100%;
		.slide-right-btn,
		.slide-left-btn {
			display: none;
		}
		.slider-container {
			position: relative;
			overflow: hidden;
			min-height: auto;

			.slider {
				//	border: 1px solid peru;
				transform: translateX(0%);
				position: relative;
				flex-wrap: nowrap;
				overflow-x: auto;
				.product-item {
					width: 85%;
					height: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 390px) {
	.slider-wrapper {
		position: relative;
		//padding: 0 80px;
		width: 100%;
		.slide-right-btn,
		.slide-left-btn {
			display: none;
		}
		.slider-container {
			position: relative;
			overflow: hidden;
			.slider {
				//	border: 1px solid peru;
				transform: translateX(0%);
				position: relative;
				flex-wrap: nowrap;
				overflow-x: auto;
				.product-item {
					width: 100%;
				}
			}
		}
	}
}
