@import '../../index.scss';

$pageheight: 100vh;

.checkout-page {
	width: 100%;
	height: calc(#{$pageheight} - 80px);
	overflow: hidden;
	padding: 0px 60px;
	margin-top: 80px;
	display: flex;
	justify-content: center;
	font-family: $primary-font;
	.checkout-container {
		display: flex;
		width: 50%;

		overflow-y: scroll;

		&::-webkit-scrollbar {
			background: transparent;
			display: none;
		}
		.form-container {
			margin: 0 auto;
			width: 100%;
			min-width: 330px;
			padding-top: 50px;
			padding-right: 60px;
			.title {
				font-weight: 600;
				font-size: 1.6rem;
				margin-bottom: 20px;
			}
			#payment-form {
				/* 	.form-row {
					display: flex;
				} */
				.form-control {
					width: 100%;
					color: grey;
					margin-bottom: 15px;
					position: relative;
					display: flex;
					flex-direction: column;
					overflow: hidden;
					padding: 0 5px;

					label {
						font-family: $primary-font;
						font-size: 0.8rem;
					}
					input {
						font-family: $primary-font;
						font-size: 1rem;
						padding: 10px 0px 10px 0px;
						background-color: transparent;
						z-index: 1;
						outline: none;
						border: none;
						border-bottom: 1px solid grey;

						&:focus {
							border-bottom: 1px solid $primary-color;
						}
						&:focus ~ .placeholder {
							transform: translateY(-100%);
							opacity: 0;
						}
					}
					.placeholder {
						position: absolute;
						z-index: 0;
						bottom: 2rem;
						font-family: $primary-font;
						font-size: 0.9rem;
						color: rgb(189, 189, 189);
						transition: transform 0.3s ease, opacity 0.2s ease;
					}
					.error {
						font-family: $primary-font;
						height: 20px;
						//	background-color: turquoise;
						font-size: 0.8rem;
						font-style: italic;
						color: brown;
						padding: 5px 0px;
					}
				}
				.error-card {
					font-family: $primary-font;
					height: 10px;
					margin-top: 10px;
					//	background-color: turquoise;
					font-size: 0.9rem;
					font-style: italic;
					color: brown;
				}
				#submit {
					width: 100%;
					margin: 20px 0;
					padding: 10px;
					outline: none;
					cursor: pointer;
					font-family: $primary-font;
					font-weight: 300;
					font-size: 0.9rem;
					padding: 8px 0;
					border: 1px solid $accent-color;
					border-radius: 30px;
					color: white;
					background-color: $accent-color;
					transition: all 0.2s ease;
					margin-bottom: 50px;
					&:hover {
						background-color: transparent;
						color: $accent-color;
						font-weight: 500;
					}
					&:disabled {
						background-color: rgb(52, 52, 255);
						border: 1px solid rgb(52, 52, 255);
					}
				}
			}
		}
	}
	.summary-container {
		padding-left: 50px;
		border-left: 1px solid rgb(218, 218, 218);
		width: 50%;
		//border: 2px solid red;
		overflow-y: scroll;
		padding-top: 30px;
		padding-bottom: 50px;

		&::-webkit-scrollbar {
			background: transparent;
			display: none;
		}
		.order-total-container {
			width: 100%;
			border: 1px solid rgb(218, 218, 218);
			padding: 20px;
			font-size: 1.6rem;
			margin-bottom: 20px;
			font-weight: 600;
			div {
				margin-right: 10px;
			}
			.order-total-details {
				font-size: 1rem;
				font-weight: 400;
				div {
					margin-bottom: 10px;
				}
			}
		}
		.order-items-wrapper {
			.product-container {
				display: flex;
				justify-content: space-between;
				padding: 25px 0;
				width: 100%;
				border-bottom: 1px solid rgba(216, 216, 216, 1);
				.product-left {
					display: flex;
					align-items: center;
					.product-img {
						width: 150px;
						margin-right: 20px;
						img {
							display: flex;
							align-items: center;
							width: 90%;
						}
					}
					.product-deets {
						.name {
							font-weight: 600;
							margin-bottom: 5px;
							color: black;
							font-size: 1rem;
						}
						div {
							margin-bottom: 5px;
							font-size: 0.9rem;
							color: grey;
						}
						button {
							cursor: pointer;
							outline: none;
							background-color: transparent;
							border: none;
							text-decoration: underline;
							font-weight: 400;
							color: rgb(95, 1, 1);
						}
					}
				}
				.product-right {
					font-weight: 600;
				}
			}
		}
	}
}

@media screen and (max-width: 950px) {
	.summary-container {
		.order-items-wrapper {
			.product-container {
				display: flex;
				justify-content: space-between;
				padding: 20px 0;
				border-bottom: 1px solid rgba(216, 216, 216, 1);
				.product-left {
					display: flex;
					align-items: center;
					.product-img {
						width: auto;
						margin-right: 15px;
						img {
							width: 100px;
						}
					}
					.product-deets {
						.name {
							font-size: 0.9rem;
						}
					}
				}
				.product-right {
					font-weight: 600;
					font-size: 0.9rem;
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.checkout-page {
		width: 100%;
		height: auto;
		overflow: scroll;
		margin-top: 90px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 0px 10px;
		.checkout-container {
			display: flex;
			width: 100%;
			overflow-y: scroll;
			&::-webkit-scrollbar {
				background: transparent;
				display: none;
			}
			.form-container {
				width: 100%;
				padding-top: 0px;
				padding-right: 0px;
				.title {
					font-weight: 600;
					font-size: 1.6rem;
					margin-bottom: 20px;
				}
				#payment-form {
					#submit {
						width: 100%;
						margin-bottom: 20px;
					}
				}
			}
		}
		.summary-container {
			margin: 0 auto;
			padding-left: 0px;
			border-left: none;
			width: 98%;
			//border: 2px solid red;
			overflow-y: scroll;
			padding-top: 20px;
			padding-bottom: 30px;

			.order-items-wrapper {
				.product-container {
					display: flex;
					justify-content: space-between;
					padding: 20px 0;
					border-bottom: 1px solid rgba(216, 216, 216, 1);
					.product-left {
						display: flex;
						align-items: center;
						.product-img {
							width: auto;
							margin-right: 15px;
							img {
								width: 100px;
							}
						}
						.product-deets {
							.name {
								font-size: 0.9rem;
							}
						}
					}
					.product-right {
						font-weight: 600;
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}
